#services h2 {
    color: var(--gray-300);
    font-size: clamp(3rem, 1.7636rem + 3.8636vw, 6.4rem);
    font-weight: 600;
    line-height: 1.25;
    text-transform: uppercase;
}

#services p {
    color: var(--gray-800);
    line-height: 1.5;
    margin-top: 2rem;
    max-width: 45 ch;
}

#services p strong {
    color: var(--gray-950);
    font-weight: 700;
}

#services > ul {
    margin-top: 6rem;

    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.service-card {
    background-color: var(--gray-100);

    padding: 4rem 2.4rem;
    border-radius: 1.2rem;
    border: 1px solid var(--gray-200);
    filter: drop-shadow(0 4px 24px rgba(0, 0, 0, 0.1));

    max-width: 36rem;
}

.service-card iconify-icon {
    color: var(--gray-900);
    margin: 1.6rem 0 4rem 1.6rem;
}

.service-card h3 {
    font-size: clamp(2.4rem, 2.2545rem + 0.4545vw, 2.8rem);
    font-weight: 600;
    line-height: 1.25;
}
.service-card p {
    color: var(--gray-700);
    line-height: 1.5;
    margin: 2rem 0 4rem;
}

.service-card ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}
.service-card a {
    color: var(--primary-color);
    font-size: clamp(2rem, 1.8545rem + 0.4545vw, 2.4rem);
    font-weight: 500;
    font-size: 2rem;
    text-align: center;

    margin-top: 12rem;

    display: block;
}

.service-card a:hover {
    text-decoration: underline;
}

.service-card-item {
    background-color: var(--gray-600);
    color: var(--white);
    font-weight: 600;

    padding: 0.4rem 0.8rem;
    border-radius: 0.5rem;
}

@media (max-width: 700px) {
    #services h2 {
        color: var(--gray-950);
    }
}
