@import url(../../../styles/global.css);
@import url(../../../styles/components/close-btn.css);
@import url(input.css);
@import url(comment.css);

.close-btn {
    position: fixed;
    top: 4rem;
    right: 8vw;
}
body {
    display: grid;
    grid-template-columns: max-content 1fr;
    justify-items: center;
    height: 100vh;
    overflow: hidden;
}

form {
    max-width: 480px;
    padding: 4rem;
    background-color: var(--gray-200);
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

form button {
    color: #dde9ff;
    background-color: #3974ca;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    border-radius: 5px;
    border: 1px solid #234eaa;

    padding: 1.2rem 2.4rem;
    margin-top: 2rem;
    cursor: pointer;

    transition: filter 0.3s;
}

form button:hover,
form button:focus {
    filter: brightness(1.2);
}

section {
    height: 100%;
    overflow: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.comment-list {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    max-width: 560px;
    height: 100%;
    padding-top: 12rem;
}

@media (max-width: 1099px) {
    body {
        height: 100%;
        overflow: visible;
        display: flex;
        flex-direction: column;
    }

    form {
        min-height: fit-content;
        margin: 0 auto;
    }

    section {
        width: min(90vw, 560px);
        margin: 0 auto;
    }

    .comment-list {
        padding-top: 6rem;
    }
}

@media (max-width: 600px) {
    .close-btn {
        transform: scale(0.8);
        top: 2rem;
        right: 5vw;
    }
}