label {
    color: var(--gray-900);
    font-weight: 500;
}

.required {
    color: #ff0000;
}

input,
textarea {
    background-color: var(--gray-50);
    color: var(--gray-950);
    border: 1px solid var(--gray-300);
    border-radius: 5px;

    width: 100%;
    margin-top: 1rem;
    padding: 1.6rem 2rem;
}

::placeholder {
    color: var(--gray-500);
}

textarea {
    resize: vertical;
    min-height: 15rem;
}
