label {
    color: var(--c10);
    font-weight: 500;
    width: 100%;
    display: inline-flex;
    align-items: center;
    gap: 0.8rem;
}

.required {
    color: #ff0000;
}

input,
textarea {
    background-color: var(--c1);
    color: var(--c11);
    border: 1px solid var(--c4);
    border-radius: 5px;

    width: 100%;
    margin-top: 1rem;
    padding: 1.6rem 2rem;
}

::placeholder {
    color: var(--c6);
}

textarea {
    resize: vertical;
    min-height: 15rem;
}
