@import url(../../../styles/global.css);
@import url(../../../styles/components/close-btn.css);
@import url(tech-item.css);
@import url(buttons.css);

body {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

main {
    max-width: 600px;
    height: 100%;
    padding: 4rem 4rem 6rem 4rem;
    overflow-y: auto;
}

.text ul {
    line-height: 2;
    padding-left: 2rem;
}

.text li + li {
    margin-top: 1.5rem;
}

.text li {
    position: relative;
}

.text li::before {
    content: "";
    display: block;
    border-radius: 20px;
    width: 8px;
    height: 8px;
    background: linear-gradient(#7b5fff, #442cb3);

    position: absolute;
    left: -20px;
    top: 12px;
}

h1 {
    color: var(--primary-color);
    font-size: 2.4rem;
    font-weight: 700;
}

h2 {
    color: var(--gray-900);
    font-size: 1.8rem;
    font-weight: 600;
    margin: 4rem 0 2rem;
}

p {
    color: var(--gray-800);
}

.short-description {
    margin: 2rem 0 3rem;
}

.tech-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

#gallery {
    background-color: var(--gray-900);
    flex: 1;
}

#gallery > div {
    height: 100vh;
    overflow: auto;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 4rem;
    justify-items: center;

    padding: 6rem 4rem;
}
.gallery figure {
    max-width: 800px;
    width: 100%;
    overflow: hidden;
}

.gallery img {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.gallery figcaption {
    color: var(--gray-50);
    margin-top: 2rem;
    text-align: center;
}

@media (max-width: 980px) {
    body {
        flex-direction: column;
        overflow: visible;
        height: 100%;
    }

    main {
        max-width: none;

        height: fit-content;
        padding: 4rem 4rem 6rem 4rem;
        overflow-y: initial;
    }

    p {
        max-width: 70ch;
    }

    .gallery {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #gallery > div {
        height: 100%;
        overflow: visible;
    }
}
