.filter-box,
.filter-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    user-select: none;
}

.filter-item {
    font-size: 1.4rem;
    letter-spacing: 0.5px;

    font-weight: 500;
    text-transform: uppercase;

    border-radius: 2rem;
    border: 1px solid var(--c5);
    padding: 0.4rem 0.6rem 0.4rem 1.2rem;

    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.filter-item:hover {
    border-color: var(--c9);
}

.filter-item button {
    border: none;
    background: none;
    cursor: pointer;
}

.remove-filters-btn {
    color: var(--c8);
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 0.4rem;

    appearance: none;
    background: none;
    border: none;
}

.remove-filters-btn:hover {
    filter: brightness(0.1);
}
