@import url(../../../styles/global.css);
@import url(../../../styles/components/close-btn.css);
@import url(filter-list.css);
@import url(projects.css);

.close-btn {
    position: absolute;
    right: 0;
    top: 4rem;
}

body {
    width: min(90vw, 1280px);
    margin: 0 auto;
    position: relative;
}

header {
    padding: 8rem 0 4rem;
    margin-bottom: 4rem;
    border-bottom: 1px solid var(--gray-300);
}

h1 {
    color: var(--primary-color);
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

header p {
    color: var(--gray-800);
}

body > header + div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

h2 {
    font-size: 1.8 rem;
    color: var(--gray-900);
    font-weight: 500;
}

.filter-btn {
    color: var(--gray-50);
    background-color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;

    border-radius: 1rem;
    padding: 1rem 1.2rem;

    display: flex;
    align-items: center;
    gap: 1rem;

    border: none;
    appearance: none;
    transition: filter 0.3s;
}

.filter-btn:hover,
.filter-btn:focus {
    filter: brightness(1.2);
}
