#projects {
    margin-top: 6rem;
}

#projects > ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    gap: 2rem;

    padding-bottom: 4rem;
}

.project-card {
    display: block;
    background-color: var(--c2);

    border: 1px solid var(--c3);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    overflow: hidden;
    height: 100%;

    max-width: 520px;
    width: 100%;
    flex: 1;
}

.project-card:hover,
.project-card:focus-within {
    background-color: var(--c4);
    border-color: var(--c6);
}

.project-card a > img {
    width: 100%;
    height: 23rem;
    object-fit: cover;
    object-position: center;
}

.project-card a > div {
    padding: 2rem 2rem 3rem;
}

.project-card h3 {
    font-weight: 500;
    margin-bottom: 1rem;
}

.project-name {
    color: var(--c6);
    font-size: 1.4rem;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.tags {
    margin-top: 1rem;
    padding-top: 1rem;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.tag {
    background-color: var(--c4);
    color: var(--c7);
    font-size: 1.2rem;
    font-weight: 500;

    letter-spacing: 0.5px;
    text-transform: uppercase;

    border-radius: 2rem;
    padding: 0.5rem 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

@media (max-width: 780px) {
    #projects > ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
