#contact {
    background-color: var(--c11);
    padding-top: 12rem;
    overflow: hidden;
    color: var(--c1);
}

#contact:target .contacts {
    animation: wobble-hor-bottom 0.8s 0.4s both;
}

#contact > .main-container > div {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}
.contacts {
    font-size: clamp(2.2rem, 1.2rem + 1.6667vw, 3.2rem);
    font-weight: 500;

    display: flex;
    flex-direction: column;
    gap: 4rem;
    order: 1;
}

.contacts li {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 4rem;
}

.contact-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

@media (max-width: 1000px) {
    #contact > .main-container > div {
        flex-direction: column;
    }

    .contacts {
        order: -1;
    }
}

@media (max-width: 700px) {
    #contact > .main-container > div {
        justify-content: center;
        gap: 6rem;
    }
    .contacts li {
        flex-direction: column;
    }

    .contacts li {
        padding-top: 4rem;
        border-top: 1px solid #fff;
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2025-11-2 19:23:42
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@keyframes wobble-hor-bottom {
    0%,
    100% {
        transform: translateX(0);
        transform-origin: 50% 50%;
    }
    15% {
        transform: translateX(-30px) rotate(-6deg);
    }
    30% {
        transform: translateX(15px) rotate(6deg);
    }
    45% {
        transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
        transform: translateX(9px) rotate(2.4deg);
    }
    75% {
        transform: translateX(-6px) rotate(-1.2deg);
    }
}
