body > footer {
    background-color: var(--c11);
    color: var(--c6);
    font-size: clamp(1.2rem, 0.9818rem + 0.6818vw, 1.8rem);
    line-height: 1.3;
    text-align: center;

    padding: 4rem 0;
}
