.main-header {
    padding: 6rem 0 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
}

.main-header > img {
    width: 25rem;
    height: auto;
}

.main-header ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.main-header ul a {
    display: block;
    padding: 1rem 2rem;
    color: var(--c10);
}

.main-header ul a:hover {
    color: var(--primary-color);
}

@media (max-width: 600px) {
    .main-header {
        flex-direction: column;
        justify-content: center;
    }

    .main-header ul a {
        background-color: var(--c3);
        border-radius: 5px;
        border: 1px solid var(--c3);
    }

    .main-header ul a:hover {
        border-color: var(--primary-color);
    }
}
