@import url(../../../styles/global.css);
@import url(components/index.css);
@import url(header.css);
@import url(intro.css);
@import url(projects.css);
@import url(tools.css);
@import url(services.css);
@import url(contact.css);
@import url(footer.css);
