#projects {
    padding: 12rem 0;
}

#projects header {
    display: flex;
    align-items: center;
    gap: 4rem;
    justify-content: space-between;
}

#projects h2 {
    color: var(--gray-800);
    font-size: clamp(2.4rem, 2.1091rem + 0.9091vw, 3.2rem);
    font-weight: 700;
    line-height: 1.4;
}

.carousel-buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.carousel-buttons button:first-child {
    transform: rotate(180deg);
}

.carousel-buttons button {
    color: var(--primary-color);
    background-color: var(--gray-300);
    border-radius: 5px;
    border: 1px solid var(--gray-300);

    padding: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.carousel-buttons button.end {
    opacity: 0.5;
}
.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    /* max-width: 1200px; */
    /* margin: 0 auto; */
    /* padding: 2rem 0; */
}
.carousel-track {
    display: flex;
    gap: 2rem;
    transition: transform 0.5s ease;
    align-items: center;
    margin: 6rem 0 3rem;

    scroll-behavior: smooth;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.carousel-track::-webkit-scrollbar {
    display: none;
}

.carousel-container > footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: ". indicators allprojects";
    justify-items: center;

    /* margin-top: 15rem; */
}

.carousel-container > footer > a {
    font-size: clamp(1.8rem, 1.7273rem + 0.2273vw, 2rem);
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--primary-color);
    grid-area: allprojects;
    justify-self: end;
}

.carousel-container > footer > a:hover,
.carousel-container > footer > a:focus {
    text-decoration: underline;
}

.carousel-indicators button {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: none;
    background-color: #e3c9ff;
    cursor: pointer;
}

.carousel-indicators button:not(.current):hover {
    background-color: #8c6caa;
}
.carousel-indicators {
    grid-area: indicators;
    display: flex;
    gap: 0.5rem;
}

.carousel-indicators button.current {
    background: linear-gradient(180deg, #7b5fff, #442cb3);
}

@media (max-width: 700px) {
    .carousel-container > footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
    }
}
