#services h2 {
    color: var(--c4);
    font-size: clamp(3rem, 1.7636rem + 3.8636vw, 6.4rem);
    font-weight: 600;
    line-height: 1.25;
    text-transform: uppercase;
}

#services p {
    color: var(--c9);
    margin-top: 2rem;
    max-width: 45 ch;
}

#services p strong {
    color: var(--c11);
    font-weight: 700;
}

#services > ul {
    margin-top: 6rem;

    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
    gap: 4rem;
}

@media (max-width: 700px) {
    #services h2 {
        color: var(--c11);
    }
}
