#tools {
    background-color: var(--gray-950);
    overflow: hidden;
}

#tools > div {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

#tools h2 {
    color: var(--gray-800);
    font-size: clamp(3rem, 1.7636rem + 3.8636vw, 6.4rem);
    font-weight: 600;
    line-height: 1.25;
    text-transform: uppercase;
}

#tools p {
    color: var(--gray-600);
}

#tools ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 38rem;
}

@media (max-width: 650px) {
    #tools > div {
        flex-direction: column;
        align-items: center;
    }

    #tools h2 {
        text-align: center;
        text-transform: none;
        color: var(--gray-200);
    }

    #tools p {
        color: var(--gray-500);
    }

    #tools ul {
        margin-top: 4rem;
    }
}
