.contact-button {
    color: var(--w);
    background: linear-gradient(180deg, #7b5fff, #442cb3);

    border: none;
    border-radius: 1.2rem;
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: transform 0.3s;

    position: relative;
}

.contact-button::before {
    content: attr(title);
    position: absolute;
    display: block;

    font-size: 1.2rem;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    opacity: 0.3;
}

.contact-button:hover,
.contact-button:focus {
    transform: scale(1.1);
}
.contact-button:hover::before,
.contact-button:focus::before {
    opacity: 1;
}
