.service-card {
    background-color: var(--c2);

    padding: 4rem 2.4rem;
    border-radius: 1.2rem;
    border: 1px solid var(--c3);
    filter: drop-shadow(0 4px 24px rgba(0, 0, 0, 0.1));

    max-width: 36rem;
}

.service-card img {
    margin: 1.6rem 0 4rem 1.6rem;
}

.service-card h3 {
    font-size: clamp(2.4rem, 2.2545rem + 0.4545vw, 2.8rem);
    font-weight: 500;
    line-height: 1.25;
}
.service-card p {
    color: var(--c9);
    margin: 2rem 0 4rem;
}

.service-card ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}
.service-card a {
    color: var(--primary-color);
    font-size: clamp(2rem, 1.8545rem + 0.4545vw, 2.4rem);
    font-weight: 500;
    font-size: 2rem;
    text-align: center;

    margin-top: 12rem;

    display: block;
}

.service-card a:hover {
    text-decoration: underline;
}

.service-card-item {
    background-color: var(--c7);
    color: var(--w);
    font-weight: 500;

    padding: 0.4rem 0.8rem;
    border-radius: 0.5rem;
}
