.social-media {
    margin-top: 8rem;
    display: flex;
    justify-content: end;
    gap: 2rem;
    position: relative;
}

.social-media a svg path {
    color: var(--c6);
    transition: fill 0.3s;
}

.social-media li:not(:last-child):hover svg path,
.social-media li:not(:last-child):focus svg path {
    fill: var(--primary-color);
}

.message-link {
    opacity: 0;
    transition: opacity 0.3s;
}

.message-link:hover,
.message-link:focus {
    opacity: 1;
}
