:root {
    font-size: 62.5%;

    --primary-color: #7b5fff;

    --w: #ffffff;
    --c1: #f7f7f7;
    --c2: #ededed;
    --c3: #dedede;
    --c4: #cccccc;
    --c5: #b2b2b2;
    --c6: #9c9c9c;
    --c7: #717171;
    --c8: #595959;
    --c9: #404040;
    --c10: #2e2e2e;
    --c11: #111111;
    --black: #000000;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

*:focus {
    outline-color: var(--primary-color);
}

html {
    scroll-behavior: smooth; /* rolagem suave */
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

body,
input,
button,
textarea {
    font: 400 1.6rem "Fira Sans", Arial, sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    min-height: 100vh;

    color: var(--c11);
    background-color: var(--c1);
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}
p {
    line-height: 1.5;
}

.main-container {
    width: min(90vw, 1200px);
    margin: 0 auto;
}

.padding-container {
    padding: 12rem 0;
}

@media (max-width: 800px) {
    :root {
        font-size: 55%;
    }
}
